*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.form_container{
  margin-top: 30px;
  padding: 20px;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form_container h2{
    text-align: center;
    margin-bottom: 30px;
}