*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.form_container{
  margin-top: 30px;
  padding: 20px;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form_container h2{
    text-align: center;
    margin-bottom: 30px;
}
.logo-container h2{
  color: rgb(206, 206, 206);
  font-weight: 600;
}
.logo-container h2>span{
  color: rgb(202, 49, 49);
}
.navbar{
  background-color: #02244d;
  position: fixed;
  top: 0%;
  left:0%;
}
.items{
  color: white;
}
.login-button{
  margin-right: 10px;
  background-color: #b73439;
}
.home{
  width: 100%;
  height: auto;
  /* margin-top: -30px; */
  color: white;
}
.search-items{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000d1d, #01336f);
}
.cars-section{
  padding: 30px 50px;
 background-color: azure;
}